<head>
    <link rel="stylesheet" href="/stylesheets/add_adv_style.css">
</head>

<center>
	<div class="container mb-5">
		<div class="col-md-8">
			<div class="card mb-3">
				<div class="card-header">
					<b>DODAJ OGŁOSZENIE</b>
				</div>
				<div class="card-body">
					<form action="/add-advertisement" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="center_labels">
								<label for="new_title" style="margin-top: -5px;">Tytuł</label>
								<input name="new_title" type="text" font-size="16px" autocomplete="off" placeholder="5-30 znaków">
								<label for="new_category">Kategoria</label>
								<select name="new_category" id="new_category">
									<option value="">wybierz kategorię</option>
									<option value="Motoryzacja">Motoryzacja</option>
									<option value="Nieruchomości">Nieruchomości</option>
									<option value="Dom i Ogród">Dom i Ogród</option>
									<option value="Elektronika">Elektronika</option>
									<option value="Sport i Hobby">Sport i Hobby</option>
									<option value="Edukacja">Edukacja</option>
									<option value="Rozrywka">Rozrywka</option>
									<option value="Rolnictwo">Rolnictwo</option>
									<option value="Dla dzieci">Dla dzieci</option>
									<option value="Moda">Moda</option>
									<option value="Inne">Inne</option>
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<label id="pic">Zdjęcie</label>
						</div>
						<div class="row">
							<div class="picture">
								<input type="file" name="picture" accept="image/*" onchange="loadFile(event)">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="picture">
								<img id="output"/>
							</div>
						</div>
						<div class="row">
							<label for="new_description" id="descr">Opis</label>
						</div>
						<div class="row">
							<textarea name="new_description" autocomplete="off" rows="5" placeholder="Opisz swój przedmiot (20-9000 znaków)."></textarea>
						</div>
						<div class="row">
							<div class="center_labels">
								<label for="new_status">Stan</label>
								<select name="new_status" id="new_status">
									<option value="">określ stan</option>
									<option value="Używany">Używany</option>
									<option value="Nowy">Nowy</option>
								</select>
								<label for="new_price">Cena [PLN]</label>
								<input name="new_price" type="text" font-size="16px" autocomplete="off" placeholder="1234567,50" style="text-align:center;">
								<label for="new_postcode">Kod pocztowy</label>
								<input name="new_postcode" type="text" font-size="16px" autocomplete="off" value="{{ postcode }}" placeholder="12-345" style="text-align:center;">
								<label for="new_location">Lokalizacja</label>
								<input name="new_location" type="text" font-size="16px" autocomplete="off" value="{{ location }}" placeholder="miejscowość" style="text-align:center;">
								<label for="new_phone_number">Numer telefonu</label>
								<input name="new_phone_number" type="text" font-size="16px" autocomplete="off" value="{{ phone_number}}" placeholder="123456789" style="text-align:center;">
							</div>
						</div>
						<input class="btn btn-outline-light btn-lg" type="submit" value="DODAJ OGŁOSZENIE">
						<br>
						{{ message }}
					</form>
				</div>
			</div>
		</div>
	</div>
</center>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>