<div class="container mt-1">
    <div class="card">
        <div class="card-body d-flex justify-content-center">
            <a href="/advertisements" class="btn btn-outline-light" role="button">WYŚWIETL WSZYSTKIE OGŁOSZENIA</a>
        </div>
    </div>
</div>